#gridContainer {
    height: 440px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;

    max-width: 1033px;
    padding: 13px 8px 20px 17px;

    background: #C4C4C4;
}

.title {
    margin-bottom: 28px;
}